{
    "apiKey": "api_key_goes_here",
    "location" : {
        "city" : "Frankfurt",
        "countryCode" : "DE",
        "postion" : {
            "lat": "50.110924",
            "lon": "8.682127"
        }
    }
}